*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    max-width: 100%;
    background: rgb(200,255,255);
    background: linear-gradient(154deg, rgba(200,255,255,1) 0%, rgba(255,203,251,1) 100%);
}